In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('last.txt')
data.columns =("a","b")

In [3]:
data.head(10)

         a   b
0  2287705  15
1  2287706  19
2  2287707  25
3  2287708  18
4  2287709  18
5  2287710  23
6  2287711  21
7  2287712  29
8  2287713  16
9  2287714  18

In [4]:
df1 = data.head(10000)

In [5]:
f1 = df1['a'].values
f2 = df1['b'].values
X =np.array(list(zip(f1,f2)))
X= StandardScaler().fit_transform(X)
X

NameError: name 'StandardScaler' is not defined

In [ ]:
centers = [f1 ,f2]
X, labels_true = make_blobs(n_samples=10000, centers=centers, cluster_std=0.4,
                            random_state=0)

X = StandardScaler().fit_transform(X)
X

In [ ]:
from sklearn.cluster import DBSCAN
db = DBSCAN(eps=30, min_samples=3).fit(X)

In [ ]:
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
set(labels)

In [ ]:
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
print('Estimated number of clusters: %d' % n_clusters_)

In [ ]:
import matplotlib.pyplot as plt

# Black removed and is used for noise instead.
unique_labels = set(labels)
colors = [plt.cm.Spectral(each)
          for each in np.linspace(0, 1, len(unique_labels))]
for k, col in zip(unique_labels, colors):
    if k == -1:
        # Black used for noise.
        col = [0, 0, 0, 1]

    class_member_mask = (labels == k)

    xy = X[class_member_mask & core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=tuple(col),
             markeredgecolor='k', markersize=14)

    xy = X[class_member_mask & ~core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=tuple(col),
             markeredgecolor='k', markersize=6)

plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()